{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta http-equiv="Expires" content="-1">
    <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Новости</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="{% static 'disciplines/styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'disciplines/scripts/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'disciplines/scripts/slick/slick-theme.css' %}">
</head>
<body>
    {% if request.user.is_authenticated %}
    
    <nav class="nav">
        <div class="container">
            <ul class="nav-container">
                <li class="nav-block-logo"><img src="{% static 'disciplines/img/polechkaloveuuu.png' %}"></li>
                <li class="nav-block "><a href="{% url 'news' %}">Новости</a></li>
                <li class="nav-block"><a href="#">Дисциплины</a></li>
                <li class="nav-block"><a href="{% url 'schedule' %}">Расписание</a></li>
                <div class="nav-block user">
                    <div class="user-container">
                        <div class="user-block name">{{ user.first_name }} {{ request.user.last_name }}</div>
                        <div class="user-block icon" id="more-icon"><img src="{% static 'disciplines/img/more.png' %}" alt=""></div>
                </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="more-container">
        <div class="more-content">
            <p><a href="{% url 'personal_account' %}">Личный кабинет</a></p>
            <p><a href="{% url 'logout' %}">Выход</a></p>
        </div>
    </div>

    <div class="slider-container">
        <div class="rev-slider">
            {% for discipline in disciplines %}
                {% if discipline.group.name == user.userprofile.group %}
                    <div class="slide"><a href="#">{{ discipline.disciplineName }}</a></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% else %}
        <div class="alert-container">
            <div class="cancel-alert">
                <div class="alert-content">
                    <h2>Упс, что-то пошло не так...</h2>
                    <p>Зарегестрируйтесь или пройдите авторизацию
                     для доступа к этой части контента</p>
                </div>
            </div>
        </div>
    {% endif %}


    
    <script src="{% static 'disciplines/scripts/jquery.js' %}"></script>
    <script src="{% static 'disciplines/scripts/slick/slick.min.js' %}"></script>
    <script src="{% static 'disciplines/scripts/main.js' %}"></script>
    <script src="{% static 'disciplines/scripts/more.js' %}"></script>
</body>
</html>