{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta http-equiv="Expires" content="-1">
    <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Новости</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="{% static 'news/styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    {% if request.user.is_authenticated %}
    <nav class="nav">
        <div class="container">
            <ul class="nav-container">
                <li class="nav-block"><a href="#">Расписание</a></li>
                <li class="nav-block sel"><a href="#">Новости</a></li>
                <li class="nav-block"><a href="#">Дисциплины</a></li>
                <div class="nav-block user">
                    <div class="user-container">
                        <div class="user-block name">{{ user.username }}</div>
                        <div class="user-block icon"><a href="{% url 'logout' %}"><img src="{% static 'news/icons/icon-exit.png' %}" alt=""></a></div>
                </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <section class="news">
        <div class="container">
            {% for newsItem in news %}
            <article class="news">
                <div class="news-container">
                    <div class="news-block"><img class="news-img" src="{% static 'news/img/toto.jpg' %}" alt=""></div>
                    <div class="news-block text">
                        <h2>{{ newsItem.title }}</h2>
                        <p class="description">{{ newsItem.content }}</p>
                        <div class="PS-container">
                            <p class="author">Автор: Староста группы</p>
                            <p class="news-date">{{ newsItem.created_at }}</p>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}

        </div>
    </section>
    {% else %}
        <div class="alert-container">
            <div class="cancel-alert">
                <div class="alert-content">
                    <h2>Упс, что-то пошло не так...</h2>
                    <p>Зарегестрируйтесь или пройдите авторизацию
                     для доступа к этой части контента</p>
                </div>
            </div>
        </div>
    {% endif %}
</body>
</html>